<!DOCTYPE>
<html>
	<head>
		<link rel="icon" href="BIO-01.png">
		<!-- Font Style -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
		<!-- import the webpage's stylesheet -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/reset.css"/>
		<link rel="stylesheet" href="/about.css"/>
		<!-- import the webpage's client-side javascript file -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>STAB Environmental Statistics</title>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/script.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
	</head>
	<body>
		
		<div id = "lbar">
			<img id= 'logo' src="BIO-01.png"
			width="100"
			height="100" />
				<form method= 'get' action='/'>
					<button id= 'bthome' >Home</button>
				</form>
				<form method= 'get' action='/login'>
					<button id= 'btlogin'>Login</button>
				</form>
				<form method= 'get' action='/about'>
					<button id= 'btabout'>About</button>
				</form>
				<form method= 'get' action='/input'>
					<button id= 'btdata' >Mussel</button>
				</form> 
				<form method= 'get' action='/benthic'>
					<button id= 'btben' >Benthic</button>
				</form> 
				<form method= 'get' action='/collective'>
					<button id= 'btcol' >Collective</button>
				</form> 
		</div>

		<div id = "wordsect">
			<h1 id = "hlwords">What We Do</h1>
			<h2 id = 'bp'>The Environmental Statistics class at STAB aims to help the native population of mussels in Virginia. We survey rivers and streams in northern Virginia as well as Charlottesville to gather data that affects the mussels. We have been collecting and analyzing data since 2015 to help the endangered James Spinymussel. By examining our data, we can track the movement patterns via our tagging system, as well as tracking the flow of nutrients in rivers. By monitoring specific rivers for certain conditions, we can determine the safety and health of a stream for the mussels. We are the only school in the US with a license to work with endangered animals. We hope to make an impact within our community, and the world.<h2>
</h2>
			
		</div>
	]
	</body>
</html>
